http://localhost

route /publicCloud/v1/* {
	uri strip_prefix /publicCloud/v1
	reverse_proxy prism_public_cloud:4010
}

route /bareMetals/v2/* {
	uri strip_prefix /bareMetals/v2
	reverse_proxy prism_dedicated_server:4010
}

route /hosting/v2/* {
	uri strip_prefix /hosting/v2
	reverse_proxy prism_dns:4010
}

route /ipMgmt/v2/* {
	uri strip_prefix /ipMgmt/v2
	reverse_proxy prism_ipmgmt:4010
}

log {
    format console
}
