---
page_title: "{{ .RenderedProviderName }} Provider"
subcategory: ""
description: |-
  The provider to manage Leaseweb resources
---

# {{ .RenderedProviderName }} Provider

The {{ .RenderedProviderName }} provider is used to interact with the many
resources supported by Leaseweb. The provider needs to be configured with the
proper credentials before it can be used.

!>
This provider is currently considered in a **beta version**.
Only a limited set of the dedicated server features are available now, other
products will be added later on.
As we gather feedback from our customers, it is possible that some items
might change in a non backward compatible way as we continue our improvements
towards a stable 1.0.0 version.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Multiple accounts

The API token necessary for the configuration of the provider is linked to a
particular account. In case you want to manage within a single configuration
resources from different accounts, you'll need to use aliases and the
[provider meta-argument](https://www.terraform.io/language/meta-arguments/resource-provider)
in your resources.

{{ tffile "examples/provider/multiple_providers.tf" }}

->
The API token are hardcoded in this example for simplicity, you should use
[input variables](https://www.terraform.io/language/values/variables) instead.
