on:
  push:
jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: docker/node/Dockerfile
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: docker/golang/Dockerfile
